*{
    user-select: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: rgb(27,36,0);
    background: linear-gradient(90deg, rgba(27,36,0,1) 0%, rgba(43,191,22,1) 0%, rgba(0,212,255,1) 100%);
}

#main {
    width: 100%;
    height: 100px;
    display: flex;
}

#center {
    width: 100%;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#startGame {
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 75px;
    border: 3px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: lime;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#stopGame{
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 75px;
    border: 3px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

#timer {
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#cube {
    border: 5px solid black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(99,62,66,1) 0%, rgba(99,62,66,1) 0%, rgba(121,9,45,1) 0%, rgba(255,0,0,1) 0%, rgba(255,124,0,1) 0%, rgba(206,255,0,1) 100%, rgba(255,252,0,1) 100%);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    transition: .3s;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 600px;
    left: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
